* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*background e fonte*/
body {
  background-color: #2e2e2e;
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 20px;
}

/*título*/
h1 {
  margin-bottom: 20px;
  text-align: center;
}

/*section quadros*/
#board-controls {
  margin-bottom: 30px;
}

/*form quadros*/
#board-form input,
#board-form button {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  box-shadow: 3px 3px 5px #000;
  
}
#board-form input {
  min-width: 150px;
}
#board-form button {
  background-color: #18a121;
  color: #fff;
  cursor: pointer;
  
}
#board-form button:hover {
  background-color: #117b18;
}

/*lista de quadros*/
#boards-dropdown {
  list-style: none;
  margin-top: 10px;
}

#boards-dropdown li {
  margin-bottom: 8px;
}

#boards-dropdown li button {
  width: 100%;
  text-align: left;
  background-color: #9b9d89;
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

#boards-dropdown li button:hover {
  background-color: #656756;
}

/*section colunas*/
#column-controls {
  margin-bottom: 30px;
}

#column-form input,
#column-form button {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  box-shadow: 3px 3px 5px #000;
}

#column-form button {
  background-color: #18a121;
  color: #fff;
  cursor: pointer;
}

#column-form button:hover {
  background-color: #117b18;
}

/*section tarefas*/
#task-controls {
  margin-bottom: 30px;
}

#task-form input,
#task-form button,
#delete-task-form input,
#delete-task-form button {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  box-shadow: 3px 3px 5px #000;
}

#task-form button {
  background-color: #18a121;;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 5px #000;
}

#task-form button:hover {
  background-color: #117b18;
}

#delete-task-form button {
  background-color: #d33333;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 5px #000;
}

#delete-task-form button:hover {
  background-color: #a81d1d;
}

/*section busca*/
#fetch-controls {
  margin-bottom: 30px;
}

#fetch-controls form,
#fetch-controls button {
  margin-bottom: 10px;
}

#fetch-controls input,
#fetch-controls button {
  padding: 6px;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
  box-shadow: 3px 3px 5px #000;
}

#fetch-controls button {
  background-color: #132ba1;
  color: #fff;
  cursor: pointer;
}

#fetch-controls button:hover {
  background-color: #0d2080;
}

/*result JSON*/
#result {
  background-color: #9b9d89;
  color: #000;
  font-size: 20px;
  padding: 15px;
  border-radius: 6px;
  max-height: 200px;
  overflow: auto;
  font-family: monospace;
  margin-top: 10px;
}

/*render quadros*/
.board {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  overflow-x: auto;
  white-space: nowrap;
}
